afinn==0.1
antiorm==1.2.1
appdirs==1.4.4
argon2-cffi==20.1.0
arrow==0.17.0
asgiref==3.2.10
astroid==2.4.2
async-generator==1.10
atomicwrites==1.4.0
attrs==20.2.0
autocorrect==2.2.2
autopep8==1.5.4
backcall==0.2.0
beautifulsoup4==4.9.1
binaryornot==0.4.4
black==20.8b1
bleach==3.2.1
blis==0.4.1
bokeh==2.2.2
bottle==0.12.18
bs4==0.0.1
catalogue==1.0.0
certifi==2020.6.20
cffi==1.14.3
cfgv==3.2.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
colorlover==0.3.0
convertdate==2.2.0
cookiecutter==1.7.2
coverage==5.3
cufflinks==0.17.3
cycler==0.10.0
cymem==2.0.3
Cython==0.29.14
db==0.1.1
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
Django==3.1.1
django-allauth==0.42.0
django-autoslug==1.9.8
django-coverage-plugin==1.8.0
django-crispy-forms==1.9.2
django-debug-toolbar==3.1
django-environ==0.4.5
django-extensions==3.0.9
django-model-utils==4.0.0
django-stubs==1.5.0
django-test-plus==1.4.0
docopt==0.6.2
docx==0.2.4
dominate==2.6.0
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.3.1/en_core_web_lg-2.3.1.tar.gz
entrypoints==0.3
et-xmlfile==1.0.1
factory-boy==3.0.1
Faker==6.4.1
filelock==3.0.12
flake8==3.8.3
flashtext==2.7
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
Flask-Moment==0.11.0
Flask-Script==2.0.6
Flask-WTF==0.14.3
future==0.18.2
gensim==3.8.3
h5py==2.10.0
holidays==0.10.4
identify==1.5.14
idna==2.10
importlib-metadata==1.6.1
iniconfig==1.1.1
ipdb==0.13.3
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.2
jinja2-time==0.2.0
joblib==0.15.1
jsonschema==3.2.0
jupyter-client==6.1.6
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
Keras==2.4.3
kiwisolver==1.2.0
korean-lunar-calendar==0.2.1
lazy-object-proxy==1.4.3
lxml==4.5.2
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mistune==0.8.4
mlrose==1.3.0
mock==4.0.2
multidict==5.0.0
murmurhash==1.0.2
mypy==0.770
mypy-extensions==0.4.3
mysql-connector-python==8.0.23
nbclient==0.5.0
nbconvert==6.0.7
nbformat==5.0.7
nest-asyncio==1.4.1
nltk==3.5
nodeenv==1.5.0
notebook==6.1.4
numpy==1.18.4
oauthlib==3.1.0
opencv-contrib-python==4.4.0.46
opencv-python==4.3.0.36
openpyxl==2.4.11
packaging==20.4
pandas==1.0.5
pandocfilters==1.4.2
parso==0.7.0
pathspec==0.8.1
patsy==0.5.1
pep517==0.6.0
pickleshare==0.7.5
Pillow==7.2.0
pipenv==2020.11.15
plac==1.1.3
plotly==4.11.0
pluggy==0.13.1
poyo==0.5.0
pre-commit==2.7.1
preshed==3.0.2
prometheus-client==0.8.0
prompt-toolkit==3.0.5
psutil==5.8.0
psycopg2-binary==2.8.6
pugsql==0.1.18
py==1.10.0
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
pyglet==1.5.13
Pygments==2.6.1
pylint==2.5.3
pylint-django==2.3.0
pylint-plugin-utils==0.6
PyMeeus==0.3.7
pyparsing==2.4.7
PyPDF2==1.26.0
pyrsistent==0.17.3
PySocks==1.7.1
pyswarms==1.3.0
pytest==6.1.0
pytest-django==3.10.0
pytest-sugar==0.9.4
python-dateutil==2.8.1
python-for-android==2020.6.2
python-slugify==4.0.1
python3-openid==3.2.0
pytoml==0.1.21
pytz==2020.1
pywin32==228
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.1
records==0.5.3
regex==2020.5.14
requests==2.24.0
requests-oauthlib==1.3.0
retrying==1.3.3
scattertext==0.0.2.71
scikit-learn==0.23.2
scipy==1.4.1
seaborn==0.10.1
Send2Trash==1.5.0
sh==1.13.1
six==1.14.0
sklearn==0.0
smart-open==3.0.0
soupsieve==2.0.1
spacy==2.3.2
SQLAlchemy==1.3.16
sqlparse==0.3.1
srsly==1.0.2
stats==0.1.2a0
statsmodels==0.12.0
tablib==1.1.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
text-unidecode==1.3
textblob==0.15.3
Theano==1.0.4
thinc==7.4.1
threadpoolctl==2.1.0
toml==0.10.1
tornado==6.0.4
tqdm==4.46.0
traitlets==4.3.3
tweepy==3.9.0
typed-ast==1.4.2
typing-extensions==3.7.4.3
Unidecode==1.1.1
urllib3==1.25.10
utils==1.0.1
virtualenv==20.4.2
virtualenv-clone==0.5.4
visitor==0.1.3
wasabi==0.8.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==5.2.0
widgetsnbextension==3.5.1
wordcloud==1.8.0
wrapt==1.12.1
WTForms==2.3.3
xgboost==1.3.3
xlrd==1.2.0
zipp==3.1.0
